@model MonksInn.Web.Models.Account.ForgotPasswordViewModel


<div class="modal-header">
    <h5 class="modal-title">Forgotten Password</h5>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true" class="fa fa-times-circle"></span>
    </button>
</div>
<div class="modal-body">

    @if (Model?.LinkSent == true)
    {
        <div class="alert alert-success">An email confirmation link has been sent to you.</div>
        <div>
            <button type="button" onclick="LoginModal.open()" class="btn btn-secondary  btn-block">Go back to log in</button>
        </div>
    }
    else
    {
        <p>Please provide your user email address and a password reset link will be sent to it.</p>
        <form>
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary  btn-block">Send password reset token</button>
                <button type="button" onclick="LoginModal.open()" class="btn btn-secondary  btn-block">Go back to log in</button>
            </div>
        </form>
    }
</div>
