@model MonksInn.Web.Models.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<div class="modal" id="PasswordResetModal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset Password</h5>
            </div>
            <div class="modal-body">
                @if (Model.InvalidLink)
                {
                    <div class="alert alert-danger">
                        This link is invalid or has expired. Please use the <a href="@Url.Action("ForgotPassword")">forgotten password page</a> to create a new password reset link.
                    </div>
                }
                else
                {

                    <p>Please provide a new password for your account.</p>
                    <form asp-action="ResetPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" type="hidden" />

                        <div class="form-group">
                            <label asp-for="ClearPassword" class="control-label"></label>
                            <input asp-for="ClearPassword" type="password" class="form-control" />
                            <span asp-validation-for="ClearPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Reset Password" class="btn btn-block btn-primary" />
                        </div>

                    </form>
                }
                <div>
                    <a onclick="LoginModal.open()" class="btn btn-block btn-secondary">Go back to Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#PasswordResetModal").modal("show");
        });
    </script>

}