@model MonksInn.RazorEmailTemplateService.Models.SystemAccountPasswordResetLinkModel
@{
    Layout = "_EmailLayout";
    ViewData["EmailTitle"] = "Password Reset Requested";
}


<div>
    <p>Dear @Model.User.Name</p>
    <p>We recieved your request to change your password.</p>
    <p>It seems you forgot your password. To reset it, just click the button below.
    <br />If you did not request a password reset token then you can ignore this email.</p>

    <p>
        Thanks,
        <br />The Monk's Team
    </p>
    <div>
        @await Html.PartialAsync("EmailButton", Model.ResetButton)
    </div>

</div>