@model MonksInn.RazorEmailTemplateService.Models.TestEmailModel
@{
    Layout = "_EmailLayout";
    ViewData["EmailTitle"] = "Test Email";
}


<div>
    <p>This is a test email</p>
    <p>Placeholder text reads as '@Model.PlaceholderText'</p>
</div>