@model MonksInn.Backend.Models.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1 class="text-center">Forgotten Password?</h1>

@if (Model.InvalidLink)
{
    <div class="alert alert-danger">
        This link is invalid or has expired. Please use the <a href="@Url.Action("ForgotPassword")">forgotten password page</a> to create a new password reset link.
    </div>
}
else if (Model.PasswordSaved)
{
    <div class="alert alert-success">
        Your password has been reset successfully.
    </div>
}
else
{

    <p>Please provide a new password for your account.</p>
    <form asp-action="ResetPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden" />

        <div class="form-group">
            <label asp-for="ClearPassword" class="control-label"></label>
            <input asp-for="ClearPassword" type="password" class="form-control" />
            <span asp-validation-for="ClearPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Reset Password" class="btn btn-block btn-outline-primary" />
        </div>

    </form>
}
<div class="form-group">
    <a class="btn btn-outline-primary btn-block " href="@Url.Action("Login")">Back</a>
</div>

